{% extends 'crm/main.html' %}
{% block content %}

<div class="row">

    <div class="col s12">
     <div class="card">
    <div class="card-content">Каналы привлечения клиентов:
    </div>
   <div class="chip">
    Avito {{ tavito }}
  </div>
<!--   <div class="chip">
    Avito Turbo {{ tAvitoTurbo }}
  </div>-->
  {% comment %}<div class="chip">
    Vestum {{ tCian }}
  </div>{% endcomment %}
   <div class="chip">
    Юла {{  tsait }}
  </div>
   <div class="chip">
    По рекомендации {{ trec }}
  </div>
   <div class="chip">
    Yandex Недвижимость {{ tyandex }}
  </div>
   <div class="chip">
    Домклик {{ tdomclick }}
  </div>
  <div class="chip">
   Звонок с общего телефона {{ tall_tel }}
  </div>
  <div class="chip">
   Другое {{ trazn }}
  </div>
 </div>
{% load material_form %}
     <form method="post" class="post-form">
        {% csrf_token %}
    {% form form=tpform %}{% endform %}
        <button type="submit"  name="search" class="btn">Поиск</button>

</form>
   </div>

    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
       {% if tpr_tab == '1' %}
        <li class="tab"><a class="active"  href="#test6">Открытые сделки <span class="new badge blue" data-badge-caption="">{{ topen_otchet_sum }}</span></a></li>
       {% else %}
        <li class="tab"><a   href="#test6">Открытые сделки <span class="new badge blue" data-badge-caption="">{{ topen_otchet_sum }}</span></a></li>
       {% endif %}
      {% if tpr_tab == '2' %}
          <li class="tab"><a class="active" href="#test5">Закрытые сделки<span class="new badge blue" data-badge-caption="">{{ tcloset_otchet_sum }}</span></a></li>
      {% else %}
          <li class="tab"><a href="#test5">Закрытые сделки<span class="new badge blue" data-badge-caption="">{{ tcloset_otchet_sum }}</span></a></li>
      {% endif %}
      {% if tpr_tab == '3' %}
        <li class="tab"><a class="active" href="#test7">Срыв сделки<span class="new badge blue" data-badge-caption="">{{ tsriv_otchet_sum }}</span></a></li>
      {% else %}
        <li class="tab"><a href="#test7">Срыв сделки<span class="new badge blue" data-badge-caption="">{{ tsriv_otchet_sum }}</span></a></li>
      {% endif %}
      {% if tpr_tab == '4' %}
          <li class="tab"><a class="active" href="#test8">Рассрочка<span class="new badge blue" data-badge-caption="">{{ trasr_otchet_sum }}</span></a></li>
      {% else %}
          <li class="tab"><a href="#test8">Рассрочка<span class="new badge blue" data-badge-caption="">{{ trasr_otchet_sum }}</span></a></li>
      {% endif %}
      </ul>
    </div>


    <body class="card-content grey lighten-4">
      <div id="test5">
          <table class="bordered">
        <thead>
            <tr>
              <th>Риелтор</th>
              <th>Дата создания</th>
              <th>Дата закрытия</th>

      {% if request.user.groups.all.0.name == 'Администрация' %}
              <th>Канал привлечения</th>
      {% endif %}
              <th>Название</th>
              <th>Стоимость</th>
              <th>Коммисия</th>
          </tr>
        </thead>
     <tbody>
         {%  for closet_otchet in tClOtchet %}

          <tr>
              <td><a href="{% url 'crm:otch_detail' idd=closet_otchet.pk %}">{{ closet_otchet.all_rielts }}</a>
              {% if closet_otchet.sdelka_zakrita == "Да-Рассрочка" %}<span class="new badge red" data-badge-caption="">Рассрочка!</span>{% endif %}</td>

            <td>{{ closet_otchet.date_sozd }}</td>
            <td>{{ closet_otchet.date_zakr }}</td>

      {% if request.user.groups.all.0.name == 'Администрация' %}
              <td>{{ closet_otchet.ot_kuda_kl }}</td>
       {% endif %}
            <td>{{ closet_otchet.nazv_nov }}</td>
            <td>{{ closet_otchet.stoimost }}</td>
            <td>{{ closet_otchet.komisia }}</td>
          </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>





  <div id="test6">
      <tbody>
           <table class="bordered">
        <thead>
          <tr>
              <th>Риелтор</th>
            {% if tgroup == 'Администрация'  %}
              <th></th><th></th>
             {% endif %}
              {% if tgroup == 'Администрация Адлер'  %}
              <th></th><th></th>
             {% endif %}
              <th>Дата создания</th>
              <th>Дата закрытия</th>
          {% if request.user.groups.all.0.name == 'Администрация' %}
              <th>Канал привлечения</th>
          {% endif %}
              <th>Название</th>
              <th>Стоимость</th>
              <th>Коммисия</th>
          </tr>
        </thead>
               <tbody >

         {%  for open_otchet in tOpOtchet %}
          <tr>
            <td> {% if open_otchet.all_rielts_golovin != '' and tgroup == 'Администрация' or tgroup == 'Администрация Адлер'  %}
                        <a href="{% url 'crm:otch_detail' idd=open_otchet.pk %}">{{ open_otchet.all_rielts_golovin }}
                {% else %}
                    <a href="{% url 'crm:otch_detail' idd=open_otchet.pk %}">{{ open_otchet.all_rielts }}
                {% endif %}

        {% if open_otchet.date_zakr|timesince >= "1440 min" %}<span class="new badge red" data-badge-caption="">Просрочка!</span>{% endif %}</td>
        {% if tgroup == 'Администрация' or tgroup == 'Администрация Адлер' %}
            <td><a href="{% url 'crm:otch_edit' idd=open_otchet.pk %}"><button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>Редактировать</button></a></td>
          <td><a href="{% url 'crm:sdelka_zakr' idd=open_otchet.pk %}"><button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-edit"></span>Закрыть</button></a></td>
        {% endif %}
            <td>{{ open_otchet.date_sozd }} </td>
            <td>{{ open_otchet.date_zakr }}</td>
          {% if request.user.groups.all.0.name == 'Администрация' %}
              <td>{{ open_otchet.ot_kuda_kl }}</td>
          {% endif %}
            <td>{{ open_otchet.nazv_nov }}</td>
            <td>{{ open_otchet.stoimost }}</td>
            <td>{{ open_otchet.komisia }}</td>
          </tr>
         {% endfor %}
        </tbody>
      </table>

      </div>

    <div id="test7">
      <tbody>
           <table class="bordered">
        <thead>
          <tr>
            <th>Риелтор</th>
           <!--n1
            {% if tgroup == 'Администрация'  %}
              <th></th><th></th>
             {% endif %}
              {% if tgroup == 'Администрация Адлер'  %}
              <th></th><th></th>
             {% endif %}
             -->
              <th>Дата создания</th>
              <th>Дата закрытия</th>
          {% if request.user.groups.all.0.name == 'Администрация' %}
              <th>Канал привлечения</th>
          {% endif %}
              <th>Название</th>
              <th>Стоимость</th>
              <th>Коммисия</th>
          </tr>
        </thead>
               <tbody >

         {%  for sriv_otchet in tSRotchet %}
          <tr>
            <td><a href="{% url 'crm:otch_detail' idd=sriv_otchet.pk %}">{{ sriv_otchet.all_rielts }}
        {% if tgroup == 'Администрация' or tgroup == 'Администрация Адлер' %}
            <!--
            <td><a href="{% url 'crm:otch_edit' idd=sriv_otchet.pk %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Редактировать</button></a></td>
          <td><a href="{% url 'crm:sdelka_zakr' idd=sriv_otchet.pk %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Закрыть</button></a></td>
        {% endif %}-->
            <td>{{ sriv_otchet.date_sozd }}</td>
            <td>{{ sriv_otchet.date_zakr }}</td>
          {% if request.user.groups.all.0.name == 'Администрация' %}
              <td>{{ sriv_otchet.ot_kuda_kl }}</td>
          {% endif %}
            <td>{{ sriv_otchet.nazv_nov }}</td>
            <td>{{ sriv_otchet.stoimost }}</td>
            <td>{{ sriv_otchet.komisia }}</td>
          </tr>
         {% endfor %}
        </tbody>
      </table>

      </div>

    <div id="test8">
      <tbody>
           <table class="bordered">
        <thead>
          <tr>
              <th>Риелтор</th>
            {% if tgroup == 'Администрация'  %}
              <th></th><th></th>
             {% endif %}
              {% if tgroup == 'Администрация Адлер'  %}
              <th></th><th></th>
             {% endif %}
              <th>Дата создания</th>
              <th>Дата закрытия</th>
              <th>Внесено комисии</th>
              <th>Название</th>
              <th>Стоимость</th>
              <th>Коммисия</th>
          </tr>
        </thead>
               <tbody >

         {%  for rasr_otchet in tRasrOtchet %}
          <tr>
            <td><a href="{% url 'crm:otch_detail' idd=rasr_otchet.pk %}">{{ rasr_otchet.all_rielts }}
        {% if tgroup == 'Администрация' or tgroup == 'Администрация Адлер' %}
          <td><a href="{% url 'crm:otch_edit' idd=rasr_otchet.pk %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Редактировать</button></a></td>
          {% comment %}
            <td><a href="{% url 'crm:sdelka_zakr' idd=rasr_otchet.pk %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Закрыть1</button></a></td>
          {% endcomment %}
            <td> <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ rasr_otchet.pk }}">Закрыть</a></td>



<div id="modal{{ rasr_otchet.pk }}" class="modal modal-fixed-footer">
<div class="modal-content">
{% load mathfilters %}



 <h4>{{ rasr_otchet.all_rielts }}</h4>
  <div class="row">
    <div class="col s12 m6">
      <div class="card ">
        <div class="card-content >
          <span class="card-title">Название объекта: {{ rasr_otchet.nazv_nov }}</span>
            <ul class="collection">
            <li class="collection-item">Дата создания: {{ rasr_otchet.date_sozd }}</li>
            <li class="collection-item">ФИО клиента(Покупатель): {{ rasr_otchet.fio_kl }}</li>
            <li class="collection-item">Площадь: {{ rasr_otchet.ploshad }} м.</li>
            <li class="collection-item">Стоимость обьекта: {{ rasr_otchet.stoimost }} руб.</li>
            <li class="collection-item">Коммисия: {{ rasr_otchet.komisia }} руб.</li>
            </ul>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card ">
        <div class="card-content >
          <span class="card-title">Внесено коммисии:</span>
            <ul class="collection">
            {%  if rasr_otchet.vneseno_komisii > 0 %}
                <li class="collection-item">{{ rasr_otchet.vneseno_komisii_date }} /<strong> {{ rasr_otchet.vneseno_komisii }} руб.</strong></li>
            {% endif %}
            {%  if rasr_otchet.vneseno_komisii2 > 0 %}
                <li class="collection-item">{{ rasr_otchet.vneseno_komisii_date2 }} /<strong> {{ rasr_otchet.vneseno_komisii2 }} руб.</strong></li>
            {% endif %}
            {%  if rasr_otchet.vneseno_komisii3 > 0 %}
                <li class="collection-item">{{ rasr_otchet.vneseno_komisii_date3 }} /<strong> {{ rasr_otchet.vneseno_komisii3 }} руб.</strong></li>
            {% endif %}
            {%  if rasr_otchet.vneseno_komisii4 > 0 %}
                <li class="collection-item">{{ rasr_otchet.vneseno_komisii_date4 }} /<strong> {{ rasr_otchet.vneseno_komisii4 }} руб.</strong></li>
            {% endif %}
            {%  if rasr_otchet.vneseno_komisii5 > 0 %}
                <li class="collection-item">{{ rasr_otchet.vneseno_komisii_date5 }} /<strong> {{ rasr_otchet.vneseno_komisii5 }} руб.</strong></li>
            {% endif %}
            {%  if rasr_otchet.prim %}
                <li class="collection-item">Примечание: {{ rasr_otchet.prim }} руб.</li>
            {% endif %}
            </ul>
            <form method="post" class="post-form">
                {% csrf_token %}
                <label for="ostatok">Остаток: </label>
                <input id="ostatok" type="text" name="name_field" value="
{{ rasr_otchet.komisia|sub:rasr_otchet.vneseno_komisii|sub:rasr_otchet.vneseno_komisii2|sub:rasr_otchet.vneseno_komisii3|sub:rasr_otchet.vneseno_komisii4|sub:rasr_otchet.vneseno_komisii5 }}">
                <input type="hidden" name="pk_otchet" value="{{ rasr_otchet.pk }}">
                <button type="submit"  name="rasr_zakr" class="btn">Закрыть</button>
            </form>
        </div>
    </div>
  </div>
<div>
</div>
</div>
</div>



    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Отмена</a>
    </div>
  </div>
        {% endif %}
            <td>{{ rasr_otchet.date_sozd }}</td>
            <td>{{ rasr_otchet.date_zakr }}</td>
            <td>{{ rasr_otchet.vneseno_komisii }}</td>
            <td>{{ rasr_otchet.nazv_nov }}</td>
            <td>{{ rasr_otchet.stoimost }}</td>
            <td>{{ rasr_otchet.komisia }}</td>
          </tr>
         {% endfor %}
        </tbody>
      </table>

      </div>

{% endblock %}