{% extends 'crm/main.html' %}
{% block content %}

{% load material_form %}
    <div class="row">
         <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form enctype="multipart/form-data" method="post" class="post-form">
                    {% csrf_token %}
                        {% form form=tpform layout=form.layout%}{% endform %}
                        <button type="submit" name="_submit" class="btn">Сохранить и добавить фото</button>
</form>

                </div>
            </div>
             <div class="card">
                <div class="card-content">
                    <div class="card-content">

        <table class="bordered">
   {% if post.idd_gal.all %}

    {% for i in post.idd_gal.all %}
        <tbody>
          <tr>
            <td> ID: {{ i.pk }}  </td>
            <td><a href="{{MEDIA_ROOT}}{{ i.npict.url }}"><img src="{{MEDIA_ROOT}}{{ i.npict.url }}"  height="232"></a>  </td>
            <td><a href="{% url 'crm:cianindex'  %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Закончить редактирование</button></a></td>
            <td><a href="{% url 'crm:ciandel' idd=post.pk sidd=i.pk %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Удалить</button></a></td>
          </tr>

        </tbody>


    {% endfor %}
    {% endif%}

                </div>
            </div>
         </div>
     </div>





{% endblock %}