<realty-feed xmlns="http://webmaster.yandex.ru/schemas/feed/realty/2010-06">
 <generation-date>{{ tdate|date:"Y-m-d"  }}T{{ tdate|date:"h:m:s" }}+03:00</generation-date>
 {% for post in tppost %}
 <offer internal-id="{{ post.pk }}">
    <type>Продажа</type>
    <category>квартира</category>
    <property-type>Жилая</property-type>
 <creation-date>{{ post.datep|date:"Y-m-d" }}T01:11:30+03:00</creation-date>
 <last-update-date>{{ tdate|date:"Y-m-d"  }}T{{ tdate|date:"h:m:s" }}+03:00</last-update-date>
 <location>
    <country>Россия</country>
    <region>Краснодарский край</region>
    <locality-name>Сочи</locality-name>
    <sub-locality-name>post.raion</sub-locality-name>
    <address>{{ post.adress }} {{ post.dom_numb }} </address>
</location>
<sales-agent>
    <phone>{{ post.author.userprofile1.tel }}</phone>
    <name>{{  post.author.first_name }} {{ post.author.last_name }}</name>
    <email>{{ post.author.email }}</email>
</sales-agent>
<price>
    <value>{{ post.cena_agenstv|add:"-50000"  }}</value>
    <currency>RUR</currency>
</price>
 {%  if post.domclick_pub == 'Да' %}
    <mortgage>true</mortgage>
 {% endif %}
    <deal-status>прямая продажа</deal-status>
    <description>{{ post.prim }} {{ tdm }}
</description>

{% for i in post.idd_gal.all %}
    {% if i.npict.url %}
    <image>
      http://77.222.63.187{{ i.npict.url }}
    </image>
    {% endif %}
{% endfor %}

<area>
    <value>{{ post.ploshad }}</value>
    <unit>кв.м</unit>
</area>

<gas-supply>
    {% if post.gaz == 'Есть' %}
        да
    {% else %}
        нет
    {% endif %}
</gas-supply>
<bathroom-unit>
    {%  if post.san_usel == 'Совмещенный' %}
        совмещенный
    {% endif %}
    {%  if post.san_usel == 'Раздельный' %}
        раздельный
    {% endif %}
</bathroom-unit>
<renovation>
    {% if post.remont == 'Черновой' %}черновая отделка{% endif %}
    {% if post.remont == 'Чистовой' %}с отделкой{% endif %}
    {% if post.remont == 'Дизайнерский' %}дизайнерский{% endif %}
    {% if post.remont == 'Жилой' %}евро{% endif %}
    {% if post.remont == 'Новый' %}хороший{% endif %}
</renovation>
    {% if post.komnat == 'Студия' %}
        <rooms>1</rooms>
    {% endif %}
    {% if post.komnat == 'Однокомнатная' %}
        <rooms>1</rooms>
    {% endif %}
    {% if post.komnat == 'Двухкомнатная' %}
        <rooms>2</rooms>
    {% endif %}
    {% if post.komnat == 'Трехкомнатная' %}
        <rooms>3</rooms>
    {% endif %}
    {% if post.komnat == 'Многокомнатная' %}
        <rooms>4</rooms>
    {% endif %}
    <floor>{{ post.etag }}</floor>
    <floors-total>{{ post.etagnost }}</floors-total>

 </offer>
 {% endfor %}


{% if tdom %}
    {% for doma in tdom %}
    <offer internal-id="{{ doma.pk }}">
    <type>Продажа</type>
    <property-type>Жилая</property-type>
    <category>дом</category>
 <creation-date>{{ doma.datep|date:"Y-m-d" }}T01:11:30+03:00</creation-date>
 <last-update-date>{{ tdate|date:"Y-m-d"  }}T{{ tdate|date:"h:m:s" }}+03:00</last-update-date>
 <location>
    <country>Россия</country>
    <region>Краснодарский край</region>
    <locality-name>Сочи</locality-name>
    <address>{{ doma.adress }}</address>
</location>
<sales-agent>
    <phone>{{ doma.author.userprofile1.tel }}</phone>
    <name>{{  doma.author.first_name }} {{ doma.author.last_name }}</name>
    <email>{{ doma.author.email }}</email>
</sales-agent>
<price>
    <value>{{ doma.cena_agenstv|add:"-50000"  }}</value>
  <currency>RUR</currency>
</price>
<description>{{ doma.prim }}  {{ tdm }}</description>
<area>
  <value>{{ doma.ploshad }}</value>
  <unit>кв. м</unit>
</area>
<lot-area>
  <value>{{ doma.h_ploshad_uch }}</value>
  <unit>кв. м</unit>
</lot-area>
{%  if doma.h_tip_doma_choises == 'Монолитный' %}
    <building-type>монолит</building-type>
{% endif %}
{%  if doma.h_tip_doma_choises == 'Блочный' %}
    <building-type>блочный</building-type>
{% endif %}
{%  if doma.h_tip_doma_choises == 'Каркасно-монолитный' %}
    <building-type>кирпично-монолитный</building-type>
{% endif %}
{%  if doma.h_tip_doma_choises == 'Кирпичный' %}
    <building-type>кирпичный</building-type>
{% endif %}
{%  if doma.h_tip_doma_choises == 'Деревянный' %}
    <building-type>деревянный</building-type>
{% endif %}
{%  if doma.h_tip_doma_choises == 'Панельный' %}
    <building-type>панельный</building-type>
{% endif %}
{%  if doma.h_vid_prava  == 'Поселений (ИЖС)'%}
<lot-type>ИЖС</lot-type>
{% else %}
<lot-type>садоводство</lot-type>
{% endif %}
<floors-total>{{ doma.h_etagnost }}</floors-total>
<rooms>{{ doma.h_komnat }}</rooms>

<lot-area>
    <value>{{ doma.h_ploshad_uch }}</value>
    <unit>cотка</unit>
</lot-area>

{% for i in doma.idd_gal.all %}
   {% if i.npict.url %}
    <image>
      http://77.222.63.187{{ i.npict.url }}
    </image>
   {% endif %}
{% endfor %}

        </offer>

    {% endfor %}
{% endif %}

{%  if tuchastoc %}
    {% for uchastoc in tuchastoc %}
  <offer internal-id="{{ uchastoc.pk }}">
    <type>Продажа</type>
    <property-type>Жилая</property-type>
    <category>участок</category>{%  if uchastoc.kadastr %}
    <cadastral-number>{{ uchastoc.kadastr }}</cadastral-number>{% endif %}
 <creation-date>{{ uchastoc.datep|date:"Y-m-d" }}T01:11:30+03:00</creation-date>
 <last-update-date>{{ tdate|date:"Y-m-d"  }}T{{ tdate|date:"h:m:s" }}+03:00</last-update-date>
 <location>
    <country>Россия</country>
    <region>Краснодарский край</region>
    <locality-name>Сочи</locality-name>
    <address>{{ uchastoc.adress }} {{ uchastoc.uc_dom_nunb }}</address>
</location>
<sales-agent>
    <phone>{{ uchastoc.author.userprofile1.tel }}</phone>
    <name>{{  uchastoc.author.first_name }} {{ doma.author.last_name }}</name>
    <email>{{ uchastoc.author.email }}</email>
</sales-agent>
<price>
    <value>{{ uchastoc.cena_agenstv|add:"-50000"  }}</value>
  <currency>RUR</currency>
</price>
<description>{{ uchastoc.prim }}  {{ tdm }}</description>
<lot-area>
  <value>{{ uchastoc.h_ploshad_uch }}</value>
  <unit>кв. м</unit>
</lot-area>
{% if uchastoc.vid_razr_ch == 'Поселений (ИЖС)' %}<lot-type>ИЖС</lot-type>
{% else %}<lot-type>садоводство</lot-type>{% endif %}
{% for i in uchastoc.idd_gal.all %}
   {% if i.npict.url %}
    <image>
      http://77.222.63.187{{ i.npict.url }}
    </image>
   {% endif %}
{% endfor %}
   </offer>
    {% endfor %}
{% endif %}
</realty-feed>
