{% extends 'crm/main.html' %}
{% block content %}

{% load material_form %}
    <div class="row">
         <div class="col s12">
            <div class="card">
                <div class="card-content">

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test1">Все свободные <span class="new badge blue" data-badge-caption="">{{ tn3 }}</span></a></li>
        <li class="tab col s3"><a href="#test2">В работе у других риелт <span class="new badge blue" data-badge-caption=""></span></a></li>
        <li class="tab col s3"><a href="#test4">В работе у меня<span class="new badge blue" data-badge-caption=""></span></a></li>
        <li class="tab col s3" ><a href="#test3">Отработанные(Срыв)<span class="new badge blue" data-badge-caption=""></span></a></li>
      </ul>
    </div>


    <div id="test1" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th><strong>Дата создания:</th>
              <th><strong>Общее:</th>
              <th><strong>Подробнее:</th>
              <th></th>
          </tr>
        </thead>
        {% if topen_zayavki %}
            {% for open_zayavki in topen_zayavki %}
        <tbody>
          <tr>
           <td>{{  open_zayavki.date_sozd  }} </td>
          <td><blockquote><strong>{{ open_zayavki.reelt_auth.first_name }} {{ open_zayavki.reelt_auth.last_name }};
              {{ open_zayavki.reelt_auth.groups.get.name }}; <strong>{{ open_zayavki.reelt_auth.userprofile1.tel }}</strong>
              / {{ open_zayavki.kanal }}</strong><br>

                <a class="btn tooltipped" data-position="bottom" data-tooltip="Дата звонка:{{ open_zayavki.date_zvoka }}/
                    {{ open_zayavki.prim }}/ +7 *** *** **
                    {{ open_zayavki.tel_kl|slugify|get_digit:"4" }}{{ open_zayavki.tel_kl|slugify|get_digit:"3" }}
                    {{ open_zayavki.tel_kl|slugify|get_digit:"2" }}{{ open_zayavki.tel_kl|slugify|get_digit:"1" }}">Примечание:</a>
              </blockquote></td>
            <td>{{ open_zayavki.raion }}; {{ open_zayavki.nazv_novostr }} {{ open_zayavki.komnat }}; {{ open_zayavki.f_oplata }}; {{ open_zayavki.budget }} руб.</td>
            {%  if tbutn_pr == 'Yes' or tbutn_pr == 'no'  %}
                <td><a href="{% url 'crm:VzyatZayav' idd=open_zayavki.pk %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Взять заявку</button></a></td</td>
            {% else %}
                <td>Нет доступа!</br>Внесенно меньше 5 обьектов за 10 дней!</td>

            {% endif %}


          </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>



    </div>



    <div id="test2" class="col s12">
       <table class="striped">
        <thead>
          <tr>
              <th><strong>Дата создания:</th>
              <th><strong>Взята в работу:</th>
              <th><strong>Автор:</th>
              <th><strong>Взял заявку:</th>
              <th><strong>Описание:</th>
          </tr>
        </thead>
        {% if tvzyati_zayavki %}
            {% for vzyati_zayavki in tvzyati_zayavki %}
        <tbody>
          <tr>
        {% if tgroup == 'Администрация'  or tgroup == 'Юристы' %}
            <td>{% if vzyati_zayavki.kanal == 'Домклик' %}<span class="new badge blue" data-badge-caption="">Домкл</span>
                {% endif %}
                {% if request.user.username == vzyati_zayavki.author %}<span class="new badge red" data-badge-caption="">Моя заявка!</span>
                {% endif %}
                {{ vzyati_zayavki.date_sozd }}1</td>
            <td>{{ vzyati_zayavki.date_vzyatia }}</td>
             <td>{{ vzyati_zayavki.reelt_auth.first_name }} {{ vzyati_zayavki.reelt_auth.last_name }}</td>
            <td>{{ vzyati_zayavki.reelt_v_rabote.first_name }} {{ vzyati_zayavki.reelt_v_rabote.last_name }}</br>
            {{ vzyati_zayavki.reelt_v_rabote.groups.get.name }} {{ vzyati_zayavki.reelt_v_rabote.userprofile1.tel }}</td>
            <td>
                {{ vzyati_zayavki.fio }}; {{ vzyati_zayavki.tel_kl  }};
                {{ vzyati_zayavki.nazv_novostr }} {{ vzyati_zayavki.raion }}; {{ vzyati_zayavki.komnat }}; {{ vzyati_zayavki.f_oplata }}; {{ vzyati_zayavki.budget }} руб.
            </td>
            <td><a class="btn tooltipped" data-position="bottom" data-tooltip="{{ vzyati_zayavki.prim }}">Примечание</a></td</td>
            <td><a href="{% url 'crm:SdelkaSriv' idd=vzyati_zayavki.pk %}"><button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>В отработанные</button></a></td</td>
            {% endif %}

        {% if request.user.userprofile1.nach_otd == 'Да' %}
            {% if request.user.groups.get.name == vzyati_zayavki.reelt_auth.groups.get.name %}
                <td>{% if vzyati_zayavki.kanal == 'Домклик' %}<span class="new badge blue" data-badge-caption="">Домкл</span>
                    {% endif %}
                    {% if request.user.username == vzyati_zayavki.author %}<span class="new badge red" data-badge-caption="">Моя заявка!</span>
                    {% endif %}
                    {{ vzyati_zayavki.date_sozd }}1</td>
                    <td>{{ vzyati_zayavki.date_vzyatia }}</td>
                    <td>{{ vzyati_zayavki.reelt_auth.first_name }} {{ vzyati_zayavki.reelt_auth.last_name }}</td>
                    <td>{{ vzyati_zayavki.reelt_v_rabote.first_name }} {{ vzyati_zayavki.reelt_v_rabote.last_name }}</br>
                    {{ vzyati_zayavki.reelt_v_rabote.groups.get.name }} {{ vzyati_zayavki.reelt_v_rabote.userprofile1.tel }}</td>
                    <td>
                    {{ vzyati_zayavki.fio }}; {{ vzyati_zayavki.tel_kl  }};
                    {{ vzyati_zayavki.nazv_novostr }} {{ vzyati_zayavki.raion }}; {{ vzyati_zayavki.komnat }}; {{ vzyati_zayavki.budget }} руб.
                    </td>
                    <td><a class="btn tooltipped" data-position="bottom" data-tooltip="{{ vzyati_zayavki.prim }}">Примечание</a></td</td>
                    <td><a href="{% url 'crm:SdelkaSriv' idd=vzyati_zayavki.pk %}"><button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>В отработанные</button></a></td</td>
             {% endif %}

        {% else %}
            {% if request.user.username == vzyati_zayavki.reelt_auth.username %}
                <td>{% if vzyati_zayavki.kanal == 'Домклик' %}<span class="new badge blue" data-badge-caption="">Домкл</span>
                    {% endif %}
                    {% if request.user.username == vzyati_zayavki.author %}<span class="new badge red" data-badge-caption="">Моя заявка!</span>
                    {% endif %}
                    {{ vzyati_zayavki.date_sozd }}1</td>
                    <td>{{ vzyati_zayavki.date_vzyatia }}</td>
                    <td>{{ vzyati_zayavki.reelt_auth.first_name }} {{ vzyati_zayavki.reelt_auth.last_name }}</td>
                    <td>{{ vzyati_zayavki.reelt_v_rabote.first_name }} {{ vzyati_zayavki.reelt_v_rabote.last_name }}</br>
                    {{ vzyati_zayavki.reelt_v_rabote.groups.get.name }} {{ vzyati_zayavki.reelt_v_rabote.userprofile1.tel }}</td>
                    <td>
                    {{ vzyati_zayavki.fio }}; {{ vzyati_zayavki.tel_kl  }};
                    {{ vzyati_zayavki.nazv_novostr }} {{ vzyati_zayavki.raion }}; {{ vzyati_zayavki.komnat }};{{ vzyati_zayavki.f_oplata }} / {{ vzyati_zayavki.budget }} руб.
                    </td>
                    <td><a class="btn tooltipped" data-position="bottom" data-tooltip="Дата звонка: {{ vzyati_zayavki.date_zvoka }}/ {{ vzyati_zayavki.prim }}">Примечание</a></td</td>
                    <td><a href="{% url 'crm:SdelkaSriv' idd=vzyati_zayavki.pk %}"><button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>В отработанные</button></a></td</td>
             {% endif %}
        {% endif %}
          </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>

    </div>




    <div id="test4" class="col s12">
      <table class="striped">
        <thead>
          <tr>
              <th><strong>Дата создания:</th>
              <th><strong>Взята в работу:</th>
              <th><strong>Автор:</th>
              <th><strong>Взял заявку:</th>
              <th><strong>Описание:</th>
          </tr>
        </thead>
        {% if tvzyati_zayavki %}
            {% for vzyati_zayavki in tvzyati_zayavki %}
        <tbody>
          <tr>
        {% if tgroup == 'Администрация'  or tgroup == 'Юристы' %}
            <td>{% if vzyati_zayavki.kanal == 'Домклик' %}<span class="new badge blue" data-badge-caption="">Домкл</span>
                {% endif %}
                {% if request.user.username == vzyati_zayavki.author %}<span class="new badge red" data-badge-caption="">Моя заявка!</span>
                {% endif %}
                {{ vzyati_zayavki.date_sozd }}1</td>
            <td>{{ vzyati_zayavki.date_vzyatia }}</td>
             <td>{{ vzyati_zayavki.reelt_auth.first_name }} {{ vzyati_zayavki.reelt_auth.last_name }}</td>
            <td>{{ vzyati_zayavki.reelt_v_rabote.first_name }} {{ vzyati_zayavki.reelt_v_rabote.last_name }}</br>
            {{ vzyati_zayavki.reelt_v_rabote.groups.get.name }} {{ vzyati_zayavki.reelt_v_rabote.userprofile1.tel }}</td>
            <td>
                {{ vzyati_zayavki.fio }}; {{ vzyati_zayavki.tel_kl  }};
                {{ vzyati_zayavki.nazv_novostr }} {{ vzyati_zayavki.raion }}; {{ vzyati_zayavki.komnat }}; {{ vzyati_zayavki.budget }} руб.
            </td>
            <td><a class="btn tooltipped" data-position="bottom" data-tooltip="{{ vzyati_zayavki.prim }}">Примечание</a></td</td>
            <td><a href="{% url 'crm:SdelkaSriv' idd=vzyati_zayavki.pk %}"><button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>В отработанные</button></a></td</td>
            {% endif %}

        {% if request.user.userprofile1.nach_otd == 'Да' %}
            {% if request.user.groups.get.name == vzyati_zayavki.reelt_v_rabote.groups.get.name %}
                <td>{% if vzyati_zayavki.kanal == 'Домклик' %}<span class="new badge blue" data-badge-caption="">Домкл</span>
                    {% endif %}
                    {% if request.user.username == vzyati_zayavki.author %}<span class="new badge red" data-badge-caption="">Моя заявка!</span>
                    {% endif %}
                    {{ vzyati_zayavki.date_sozd }}1</td>
                    <td>{{ vzyati_zayavki.date_vzyatia }}</td>
                    <td>{{ vzyati_zayavki.reelt_auth.first_name }} {{ vzyati_zayavki.reelt_auth.last_name }}</td>
                    <td>{{ vzyati_zayavki.reelt_v_rabote.first_name }} {{ vzyati_zayavki.reelt_v_rabote.last_name }}</br>
                    {{ vzyati_zayavki.reelt_v_rabote.groups.get.name }} {{ vzyati_zayavki.reelt_v_rabote.userprofile1.tel }}</td>
                    <td>
                    {{ vzyati_zayavki.fio }}; {{ vzyati_zayavki.tel_kl  }};
                    {{ vzyati_zayavki.nazv_novostr }} {{ vzyati_zayavki.raion }}; {{ vzyati_zayavki.komnat }}; {{ vzyati_zayavki.budget }} руб.
                    </td>
                    <td><a class="btn tooltipped" data-position="bottom" data-tooltip="{{ vzyati_zayavki.prim }}">Примечание</a></td</td>
                    <td><a href="{% url 'crm:SdelkaSriv' idd=vzyati_zayavki.pk %}"><button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>В отработанные</button></a></td</td>
             {% endif %}

        {% else %}
            {% if request.user.username == vzyati_zayavki.reelt_v_rabote.username %}
                <td>{% if vzyati_zayavki.kanal == 'Домклик' %}<span class="new badge blue" data-badge-caption="">Домкл</span>
                    {% endif %}
                    {% if request.user.username == vzyati_zayavki.author %}<span class="new badge red" data-badge-caption="">Моя заявка!</span>
                    {% endif %}
                    {{ vzyati_zayavki.date_sozd }}1</td>
                    <td>{{ vzyati_zayavki.date_vzyatia }}</td>
                    <td>{{ vzyati_zayavki.reelt_auth.first_name }} {{ vzyati_zayavki.reelt_auth.last_name }}</td>
                    <td>{{ vzyati_zayavki.reelt_v_rabote.first_name }} {{ vzyati_zayavki.reelt_v_rabote.last_name }}</br>
                    {{ vzyati_zayavki.reelt_v_rabote.groups.get.name }} {{ vzyati_zayavki.reelt_v_rabote.userprofile1.tel }}</td>
                    <td>
                    {{ vzyati_zayavki.fio }}; {{ vzyati_zayavki.tel_kl  }};
                    {{ vzyati_zayavki.nazv_novostr }} {{ vzyati_zayavki.raion }}; {{ vzyati_zayavki.komnat }};{{ vzyati_zayavki.f_oplata }} {{ vzyati_zayavki.budget }} руб.
                    </td>
                    <td><a class="btn tooltipped" data-position="bottom" data-tooltip="Дата звонка: {{ vzyati_zayavki.date_zvoka }}/ {{ vzyati_zayavki.prim }}">Примечание</a></td</td>
                    <td><a href="{% url 'crm:SdelkaSriv' idd=vzyati_zayavki.pk %}"><button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>В отработанные</button></a></td</td>
             {% endif %}
        {% endif %}
          </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>

    </div>




    <div id="test3" class="col s12">
               <table class="striped">
        <thead>
          <tr>
              <th><strong>Дата взятия в работу :</th>
              <th><strong>Дата закр. :</th>
              <th><strong>Риелт. :</th>
              <th><strong>Сумма:</th>
              <th><strong>Площадь:</th>


          </tr>
        </thead>
        {% if tsriv_zayavki %}
            {% for sriv_zayavki in tsriv_zayavki %}
        <tbody>
          <tr>
            <td>{{ sriv_zayavki.date_vzyatia }}</td>
            <td>{{ sriv_zayavki.date_zakr }}</td>
            <td>{{ sriv_zayavki.reelt_v_rabote.first_name }} {{ sriv_zayavki.reelt_v_rabote.last_name }}</td>
            <td>{{ sriv_zayavki.odobreno_deneg }}</td>
            <td>{{ sriv_zayavki.ploshad }}</td>

          </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>




  </div>


                </div>
            </div>
         </div>
     </div>

</form>






{% endblock %}