        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <link href="/static/material/imgs/favicon.png" rel="shortcut icon">
        <title>CRM | Агенство недвижимости</title>



<link href="/static/material/fonts/material-design-icons/material-icons.css"  rel="stylesheet">

<link href="/static/material/css/materialize.admin.min.css" rel="stylesheet">

<link href="/static/admin/css/icons.css" rel="stylesheet" type="text/css" />



        <meta name="robots" content="NONE,NOARCHIVE" />

        <script src="/static/material/js/jquery.js"></script>
        <script>
            // Use same django for material and django admin
            var django = django || {};
            django.jQuery = jQuery.noConflict(true);
            window.jQuery = window.$ = django.jQuery
        </script>
        <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
        <script type="text/javascript">window.__admin_utc_offset__ = "10800";</script>
        <script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>



<table style="width: 100%;" align="center">
<tbody>
<tr>
    <td><h4>АН Жемчужина </h4></td>
<td><h6>8 800 234-80-80</h6><h7>Звонок бесплатный</h7></td>
<td><h6>8 (862) 234-80-80</h6><h7>Офис в Сочи</h7></td>
<td><h6>8 (862) 234-11-00</h6><h7>Офис в Адлере</h7></td>
</tr>
</tbody>
</table>


      <div class="container">
           <div class="row">
                <div class="col s12">
        <div class="card">
 <table class="bordered">
        <thead>
 <tr>
              <td>ID Обьекта:  </td>
              <td> <strong> {{tpflat.pk  }}  </strong></td>
          </tr>
          <tr>
            <td>Район: </td>
            <td><strong> {{tpflat.raion  }}</strong></td>
          </tr>
       <tr>
            <td>Этап сдачи: </strong> </td>
            <td><strong>{{tpflat.etap_sdachi}}</td>
          </tr>
                 <tr>
            <td>Статус жилья: <strong>{{tpflat.status_gilya}}</strong></td>
            <td><strong>{{tpflat.status_gilya}}</strong> </td>
          </tr>
          <tr>
            <td>Класс жилья: </td>
            <td><strong>{{tpflat.klass_gilya  }}</strong></td>
          </tr>
                    <tr>
            <td>Кредит:</td>
            <td><strong> {{ tpflat.kredit }}</strong></td>
          </tr>
 <tr>
              <td>Ремонт:</td>
              <td> <strong> {{tpflat.remont  }}</strong></td>
          </tr>
          <tr>
            <td>Газ: </td>
            <td><strong>{{tpflat.gaz}}</strong></td>
          </tr>
          <tr>
              <td>Кол-во комнат:   </td>
              <td><strong>{{tpflat.komnat}}</strong></td>
          </tr>
          <tr>
            <td>Площадь:  </td>
            <td><strong>{{tpflat.ploshad  }}</strong></td>
          </tr>
          <tr>
              <td>Этаж: </td>
              <td><strong> {{ tpflat.etag }}</strong></td>
          </tr>
          <tr>
            <td>Вид из окон: </td>
            <td><strong>{{tpflat.vid_is_okon  }}</strong></td>
          </tr>
          <tr>
              <td>Сан узел: </td>
              <td><strong> {{ tpflat.san_usel }}</strong></td>
          </tr>
          <tr>
            <td>Паркинг: </td>
            <td><strong>{{tpflat.parking}}</strong></td>
          </tr>
          <tr>
          <tr>
            <td>Цена агенства: </td>
            <td><div class="card-panel blue darken-1"><strong>{{ tpflat.cena_agenstv }} руб.</strong></td>
          </tr>

        </tbody>
      </table>


        </div>
                </div>

                </div>
            </div>

      </div>



        <footer>

      <h4> <p class="flow-text"><p style="text-align: center;">С нами сбываются мечты!</h4>


        </footer>





<script src="/static/material/js/materialize.admin.min.js"></script>







    </body>
</html>